# Packages
**/packages/
**./venv/
**/.venv/

# Caches
**/.cache/

# Python
**/__pycache__/

# Environment variables
**/.env
**/.env.*
!**/.env.example

# Coding agents
**/.claude/
**/.cursor/
**/.agent/
